{%extends "base.html"%}
{%block title%}Admin Dashboard{%endblock%}
{%block content%}
<br><br><br><br><br><br>

<div class="container">
<h1>Pending Donations</h1>
<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for donation in pending_donations %}
        <tr class="table-row">
            <td>{{ donation.item_name }}</td>
            <td>{{ donation.quantity }}</td>
            <td>{{ donation.description }}</td>
            <td>{{ donation.tags }}</td>
            <td>
                <form method="post" action="{{ url_for('admin_approve_donation', donation_id=donation.id) }}">
                    <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form method="post" action="{{ url_for('admin_delete_donation', donation_id=donation.id) }}" onsubmit="return confirm('Are you sure you want to delete this donation?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h1>Pending Requests</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Requested Food</th>
                <th>Quantity</th>
                <th>Message</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody >
            {% for request in pending_requests %}
            <tr class="table-row">
                <td>{{ request.email }}</td>
                <td>{{ request.item_name }}</td>
                <td>{{ request.quantity }}</td>
                <td>{{ request.message }}</td>
                <td>
                    <form method="post" action="{{ url_for('mark_request_as_picked_up', request_id=request.id) }}">
                        <button type="submit" class="btn btn-success">Picked Up</button>
                    </form>
                    <form method="post" action="{{ url_for('admin_delete_request', request_id=request.id) }}" onsubmit="return confirm('Are you sure you want to delete this request?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>           
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h1>User Management</h1>
<table class="table">
    <thead>
        <tr class="table-row">
            <th>Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="table-body">
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>
                
                <a class="btn btn-success" href="{{ url_for('admin_edit_user', user_id=user.id) }}">Edit</a> 
                <form method="post" action="{{ url_for('admin_delete_user', user_id=user.id) }}" onsubmit="return confirm('Are you sure you want to delete this user?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>            
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{%endblock%}