{%extends "base.html"%}
{%block title%}Donate{%endblock%}
{%block content%}
<img src="web-application/static/images/givingfoodai.png" class="img-fluid" alt="">

<h1>Donate Items</h1>
    <form method="post">
        <div>
            <label for="item_name">Item Name:</label>
            <input type="text" id="item_name" name="item_name" required>
        </div>
        <div>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>
        <button type="submit">Donate</button>
    </form>
{% if donation_success %}
<p class="success-message">Thank you for your donation! Your contribution will make a difference.</p>
{% endif %}
{% if error_message %}
<p class="error-message">{{ error_message }}</p>
{% endif %}
{%endblock%}