{%extends "base.html"%}
{%block title%}Home{%endblock%}

{%block content%}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Welcome to Our<br>Food Pantry</h2>
          <p data-aos="fade-up" data-aos-delay="100">Helping Those in Need, One Meal at a Time.</p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            {% if not current_user.is_authenticated %}

            <a href="/register" class="btn-book-a-table">Create an Account</a>
            {% else %}
            <a href="/profile" class="btn-book-a-table">View Your Profile</a>
            {% endif %}          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="static/assets/img/hero-img.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <p><span>About Us</span></p>
        </div>

        <div class="row gy-4">  

          <div class="col-lg-5 d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300">
    <div class="content ps-0 ps-lg-5 text-center">
        <p class="fst-italic">
            Welcome to Foodle, where we are dedicated to making a difference in the lives of those facing food insecurity. Our organization was founded with a simple yet powerful mission: to provide nourishment, support, and hope to individuals and families in need within our community. At Foodle, we believe that access to nutritious food is a fundamental human right. We understand the challenges that many individuals and families face in meeting their basic nutritional needs, and we are committed to addressing this issue with compassion and empathy.
        </p>
        <div class="section-header">
            <p>How You Can Help</p>
        </div>
        <p>
            Foodle relies on the support of generous donors, volunteers, and community partners to fulfill our mission. Whether you're interested in making a donation, volunteering your time, or spreading the word about our cause, there are many ways to get involved and make a difference. Together, we can create a community where everyone has access to the nourishment they need to thrive. Join us in the fight against hunger and help us build a brighter, healthier future for all.
        </p>

        <div class="position-relative mt-4">
            <img src="static/assets/img/about-2.jpg" class="img-fluid mx-auto d-block" alt="">
        </div>
    </div>
</div>


      </div>
    </section><!-- End About Section -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>


{%endblock%}