{%extends "base.html"%}
{%block title%}Home{%endblock%}


{%block content%}
<section class="hero">
    <div class="container">
        <h1>Welcome to Our Food Pantry</h1>
        <p class="tagline">Helping Those in Need, One Meal at a Time</p>
        <a href="/register" class="btn btn-primary">Get Involved</a>
    </div>
</section>

<!-- About Section -->
<section class="about">
    <div class="container">
        <h2>About Us</h2>
        <p>Welcome to Foodle, where we are dedicated to making a difference in the lives of those facing food insecurity. Our organization was founded with a simple yet powerful mission: to provide nourishment, support, and hope to individuals and families in need within our community. At Foodle, we believe that access to nutritious food is a fundamental human right. We understand the challenges that many individuals and families face in meeting their basic nutritional needs, and we are committed to addressing this issue with compassion and empathy.</p>
    </div>
</section>
<!-- About Section -->
<section class="about">
    <div class="container">
        <h2>How You Can Help</h2>
        <p>Foodle relies on the support of generous donors, volunteers, and community partners to fulfill our mission. Whether you're interested in making a donation, volunteering your time, or spreading the word about our cause, there are many ways to get involved and make a difference. Together, we can create a community where everyone has access to the nourishment they need to thrive. Join us in the fight against hunger and help us build a brighter, healthier future for all.</p>
    </div>
</section>

<section class="how-we-help">
    <div class="container">
        <h2>How We Help</h2>
        <div class="help-items">
            <div class="help-item">
                <h3>Food Donation</h3>
                <p>Donate food items to help those in need.</p>
            </div>
            <div class="help-item">
                <h3>Volunteer</h3>
                <p>Join us as a volunteer and make a difference in your community.</p>
            </div>
            <div class="help-item">
                <h3>Spread Awareness</h3>
                <p>Help spread awareness about hunger and food insecurity.</p>
            </div>
        </div>
    </div>
</section>

<section class="featured-locations">
    <div class="container">
        <h2>Featured Locations</h2>
       
    </div>
</section>

{%endblock%}