{%extends "base.html"%}
{%block title%}Inventory{%endblock%}

<style>
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  } 
  
</style>

{%block content%}

<div class="container-fluid overflow-hidden">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="form-floating mb-3 d-flex justify-content-center">
          <form action="/inventory" method="POST">
            <li>
              <select class="form-select" aria-label="Default select example" name="search_by">
                <option value="name">Name</option>
                <option value="bank">Food Bank</option>
              </select>
              <label for="floatingInput"></label>
            </li>
        </div>
        <li class="nav-item">
          <input type="text" class="form-control" id="floatingInput" placeholder="Search" name='search_text' required>
          <label for="floatingInput"></label>
        </li>
        <li class="nav-item">
          <button type="submit" class="btn btn-lg" style = "background-color: rgb(222, 97, 107)" name="search">SEARCH</button>
        </li>
      </ul>
      </form>
    </div>
  </nav>
  <div class="row vh-100 overflow-auto">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-light d-flex sticky-top">
      <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-clack">
        <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-black text-decoration-none">
          <span class="fs-5">Your Cart</span>
        </a>
        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
          <form action="/inventory" method="POST">
            {% for item in cart %}
            <li class="nav-item">
              <div class="container">
                <div class="card row">
                  <div class="col">{{ item[0] }}</div>
                  <div class="col">{{ item[1] }}</div>
                  <input type="hidden" name="item_index" value="{{ loop.index }}">
                  <button type="submit" class="btn btn-light" name="delete_cart_item">
                    <img src="https://cdn-icons-png.freepik.com/512/6861/6861362.png" alt="" width="15px">
                  </button>
                </div>
              </div>
            </li>
            {% endfor %}
          </form>
          <form action="/inventory" method="POST">
            <li>
              <button type="submit" class="btn" style = "background-color: #B5AB53" name="checkout">Check Out</button>
            </li>
          </form>
        </ul>
      </div>
    </div>
      <div class="col d-flex flex-column h-100">
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {%for thing in invent_list%}
            <div class="col">
              <div class="card">
                <form action="/inventory" method="POST">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
                  alt="Hollywood Sign on The Hill" /> -->
                <div class="card-body">
                  <input type="hidden" name="item" value="{{ thing.name }}">
                  <h5 class="card-title">{{thing.name}}</h5>
                  <p class="card-text">
                    <label for="qty">Quantity: {{thing.qty}}</label>
                <p>Request:</p>
                <input type="number" id="qty" name="qty" min="0" max="100" step="1" value="0">
                <br>
                <button type="button" class="btn" style = "background-color: #EAAB26" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}">
                  More details
                </button>

                <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ thing.name }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {{ thing.description }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn" style = "background-color: #F59265" name="food_picked">Submit</button>
                  </p>
                </div>
              </form>
              </div>
            </div>
            {%endfor%}
          </div>         
      </div>
  </div>
</div>

{%endblock%}