{%extends "base.html"%}
{%block title%}Inventory{%endblock%}

<style>
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  } 
</style>

{%block content%}

<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
      <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-light d-flex sticky-top">
          <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-clack">
              <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-black text-decoration-none">
                  <span class="fs-5">Your Cart</span>
              </a>
              <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                <form action="/inventory" method="POST">
                  <li class="nav-item">
                    <div class="container">
                      {%for thing in cart%}
                      <div class="card row">
                        <div class="col">{{thing}}</div>
                      </div>
                      {%endfor%}
                    </div>
                  </li>
                  <li>
                    <button type="submit" class="btn btn-success" name="checkout">Check Out</button>
                  </li>
                </form>
              </ul>
          </div>
      </div>
      <div class="col d-flex flex-column h-100">
        <div class="row">
          {%for thing in invent_list%}
          <div class="card col">
            <img src="https://www.delmonte.com/sites/default/files/NSA%20Corn_1050x500_0.png" alt="Avatar" style="object-fit:contain;" width ="50%">
            <div class="container bg-secondary p-3">
              <form action="/inventory" method="POST">
                <h4 name="item"><b>Canned corn</b></h4>
                <label for="quantity">Quantity:</label>
                <p>Request:</p>
                <input type="number" id="quantity" name="quantity" min="0" max="100" step="1" value="0">
                <br>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  More details
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-success" name="food_picked">Submit</button>
            </form>
      
            </div>
          </div>
          {%endfor%}
      </div>
  </div>
</div>

{%endblock%}