{%extends "base.html"%}
{%block title%}Presentation{%endblock%}
{%block content%}

<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Deeper Dive<br>Into Foodle</h2>
        <p data-aos="fade-up" data-aos-delay="100">Developed by: Elise Wizemann, Ece Berrak, and Andrea Silva</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          {% if not current_user.is_authenticated %}
          <a href="/register" class="btn-book-a-table">Create an Account</a>
          {% else %}
          <a href="/profile" class="btn-book-a-table">View Your Profile</a>
          {% endif %}          
          <a href="/" class="btn-book-a-table" style="margin-left:10px">Return to Home</a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="https://png.pngtree.com/png-vector/20230808/ourmid/pngtree-grocery-bag-clipart-grocery-bag-with-vegetables-cartoon-vector-png-image_6866175.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300" width="50%">
      </div>
    </div>
  </div>
</section>



<!--
Intro: 
- "Introduction is engaging, clearly introduces team members -, and succinctly 
states the project title - and objective."
- Developers: Elise Wizemann, Ece Berrak, Andrea Silva -
- ...
- *prob needs pic or smth
-----
Overview:
- "Provides a concise and comprehensive summary of the project and 
clearly highlights innovative features."
- ...
-----
Live Demo:
- "Excellent demonstration of critical features, effectively showing 
functionality and user interactions; very engaging"
-----
Visual Aids: 
- "Visual aids are professional, enhance understanding significantly, 
and are perfectly integrated into the presentation."
- Images to demonstrate donation process?
-----
Engagement:
- "Actively engages the audience throughout the presentation, 
maintaining interest and interaction."
-----
Conclusion - Q/A:
- "Responds to questions with detailed, accurate explanations, 
demonstrating deep understanding; engages the audience."
- Maybe could make a form for questions???
-->

{%endblock%}