{%extends "base.html"%}
{%block title%}Presentation{%endblock%}
{%block content%}

<section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
        <h2>Dive Deep Into The Foodle Website</h2>
        <h3 style="margin-bottom:20px">Developers: Elise Wizemann, Ece Berrak, Andrea Silva</h3>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="/" class="btn-book-a-table">Return to Home</a>
        </div>
    </div>
</section>

<!--Intro-->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p><span>Introduction</span></p>
      </div>
      <p class="fst-italic">...</p>
    </div>
</section>

<!--Overview-->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p><span>Overview</span></p>
      </div>
      <p class="fst-italic">...</p>
    </div>
</section>

<!--
Intro: 
- "Introduction is engaging, clearly introduces team members -, and succinctly 
states the project title - and objective."
- Developers: Elise Wizemann, Ece Berrak, Andrea Silva -
- Foodle was developed with the goal of providing an easier way to 
donate to food banks and request food from foodbanks. The current systems, 
which are few, are complicated and not user friendly. The end goal is to
create a user friendly system in order to help those who face food insecurity,
and encourage people to donate to those in need.
- Maybe add like bad reviews or something to prove our point? Def need a pic on one side
-----
Overview:
- "Provides a concise and comprehensive summary of the project and 
clearly highlights innovative features."
- This website creates a user friendly environment with simple and protected
user creation, as well as a profile page which documents user information,
donations, food recieved, and contains recipies for users. 
A donate page is available for those who are using the
site to donate, only saving new food options once a food bank approves the
arrival of the donation. The inventory page is where a logged in user can
request food by adding it to their cart. Once again, changes are saved
after pick up. By using admin approval we reduce false database information.
-----
Live Demo:
- "Excellent demonstration of critical features, effectively showing 
functionality and user interactions; very engaging"
-----
Visual Aids: 
- "Visual aids are professional, enhance understanding significantly, 
and are perfectly integrated into the presentation."
- Images to demonstrate donation process?
-----
Engagement:
- "Actively engages the audience throughout the presentation, 
maintaining interest and interaction."
-----
Conclusion - Q/A:
- "Responds to questions with detailed, accurate explanations, 
demonstrating deep understanding; engages the audience."
- Maybe could make a form for questions???
-->

{%endblock%}