{%extends "base.html"%}
{%block title%}Presentation{%endblock%}
{%block content%}

<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Deeper Dive Into Foodle</h2>
        <p data-aos="fade-up" data-aos-delay="100">Developed by: Elise Wizemann, Ece Berrak, and Andrea Silva</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          {% if not current_user.is_authenticated %}
          <a href="/register" class="btn-book-a-table">Create an Account</a>
          {% else %}
          <a href="/profile" class="btn-book-a-table">View Your Profile</a>
          {% endif %}          
          <a href="/" class="btn-book-a-table" style="margin-left:10px">Return to Home</a>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="https://clipart-library.com/2023/870-8707419_755-x-680-11-web-design-website-clip.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300" width="50%" style="border-radius: 10%; display: block; margin: auto;">
      </div>
    </div>
  </div>
</section>

<div class="iframe-container" style="margin-top:10px">
  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vR_qJT2fYFaTiteVZFF6OuKLCTODrpL-PZS0AiRPTkr_VgIk6-YYs7qG9n2IdJAZxT7yVFJnzKkLOcE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
</div>
{%endblock%}