{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<style>
    body {
        background: #374172;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 900px;
        margin: auto;
        padding: 20px;
    }

    .card {
        background: hsla(0, 0%, 100%, 0.9);
        backdrop-filter: blur(30px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .card-body {
        padding: 20px;
    }

    .card h1, .card h2, .card p {
        color: #333;
        margin-bottom: 20px;
    }

    .card h1 {
        font-size: 2em;
        text-align: center;
    }

    .card h2 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 1em;
    }

    .card p {
        font-size: 1em;
        line-height: 1.6;
        text-align: center;
    }

    .profile-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .profile-left-column, .profile-right-column {
        flex: 1;
    }

    .profile-left-column {
        margin-right: 20px;
    }

    .profile-right-column {
        margin-left: 20px;
    }

    .profile-label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #444;
    }

    .profile-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .user-style-picture, .profile-style-picture {
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .scrollable-card-body {
        max-height: 300px;
        overflow-y: auto;
        padding-right: 15px;
    }

    .modal {
        z-index: 9999; /* Adjust as needed, should be higher than other elements */
    }

    .modal-dialog {
        max-width: 800px;
        margin: 1.75rem auto;
    }

    .modal-content {
        border-radius: 10px;
    }

    .modal-header, .modal-footer {
        border-bottom: none;
        border-top: none;
    }

    .modal-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #444;
    }

    .btn-close {
        font-size: 1.5em;
        background: none;
        border: none;
        color: #444;
    }

    .btn-close:hover {
        color: #000;
    }

    .btn-light {
        color: #333;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }

    .btn-light:hover {
        color: #333;
        background-color: #e2e6ea;
        border-color: #dae0e5;
    }

    .form-select {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .dropdown-menu {
        max-height: 200px;
        overflow-y: auto;
      }
    
      .dropdown-toggle.btn-lg {
        border-radius: 0;
        padding: 9px;
      }
    
</style>

<br><br><br><br><br><br>
<div class="container">
    <!-- Welcome card -->
    <div class="card mx-4 mx-md-5 shadow-5-strong">
        <div class="card-body py-5 px-md-4">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="row align-items-center">
                        {% if user.profile_picture %}
                        <div class="col-md-4">
                            <img class="user-style-picture" src="data:image/jpeg;base64,{{ retrieve_profile_picture(user.profile_picture) }}" alt="Profile Picture" style="width: 100%; border-radius: 50%;">
                        </div>
                        <div class="col-md-8">
                            <div class="text-left">
                                <h1>Welcome {{ user.name }}!</h1>
                                <p>Email: {{ user.email }}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-12 text-center">
                            <h1>Welcome {{ user.name }}!</h1>
                            <p>Email: {{ user.email }}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Donated and Requested items -->
    <div class="row mt-5">
        <!-- Donated items -->
        <div class="col-md-6 pr-1">
            <div class="card shadow-5-strong">
                <div class="card-body py-5 px-md-3 scrollable-card-body">
                    <div class="text-center">
                        <h2>Donated Items</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if current_user.userdonations %}
                            <ul>
                                {% for donation in current_user.userdonations %}
                                <li>{{ donation.item_name }} - Quantity: {{ donation.quantity }} - Status: {{ donation.status }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No donated items yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Requested items -->
        <div class="col-md-6 pl-1">
            <div class="card shadow-5-strong">
                <div class="card-body py-5 px-md-3 scrollable-card-body">
                    <div class="text-center">
                        <h2>Requested Items</h2>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if requested_items %}
                            <ul>
                                {% for item in requested_items %}
                                <li>{{ item.item_name }} - Quantity: {{ item.quantity }} - Status: {{ item.status }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No requested items yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Profile -->
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="card-body py-5 px-md-4">
            <div class="row d-flex justify-content-center">
                <div class="text-center">
                    <h1>Edit Profile</h1>
                    <br><br>
                </div>
                <div class="text-right">
                    <form method="post" action="{{ url_for('profile') }}" enctype="multipart/form-data">
                        <div class="profile-container">
                            <div class="profile-left-column">
                                <label for="profile_picture" class="profile-label">Profile Picture:</label>
                                <input type="file" id="profile_picture" name="profile_picture" class="profile-input">
                                {% if user.profile_picture %}
                                <img class="profile-style-picture" src="data:image/jpeg;base64,{{ retrieve_profile_picture(user.profile_picture) }}" alt="Profile Picture" style="width: 100px; border-radius: 50%; margin-top: 10px; float:right">
                                {% else %}
                                <p>No profile picture available</p>
                                {% endif %}
                            </div>
                            <div class="profile-right-column">
                                <label for="email" class="profile-label">Email:</label>
                                <input type="email" id="email" name="email" value="{{ user.email }}" class="profile-input">
                            </div>
                        </div>
                        <div class="profile-container">
                            <div class="profile-left-column">
                                <label for="name" class="profile-label">Name:</label>
                                <input type="text" id="name" name="name" value="{{ user.name }}" class="profile-input">
                            </div>
                            <div class="profile-right-column">
                                <label for="last_name" class="profile-label">Last Name:</label>
                                <input type="text" id="last_name" name="last_name" value="{{ user.last_name }}" class="profile-input">
                            </div>
                        </div>
                        <div class="profile-container">
                            <div class="profile-left-column">
                                <label for="password" class="profile-label">New Password:</label>
                                <input type="password" id="password" name="password" class="profile-input">
                            </div>
                            <div class="profile-right-column">
                                <label for="confirm_password" class="profile-label">Confirm New Password:</label>
                                <input type="password" id="confirm_password" name="confirm_password" class="profile-input">
                            </div>
                        </div>
                        <div class="profile-container">
                            <div class="profile-left-column">
                                <button type="submit" class="btn btn-danger btn-block mb-4">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="margin-top: 50px; margin-bottom: 50px;">    
        <div class="card-body py-5 px-md-4">
            <div class="text-center">
                <h4>Need help choosing what to make with your requested items? Try this recipe generating using one of your items</h4><br>
                <form action="/profile" method="POST">
                     <select class="form-select" aria-label="Default select example" name="selected" >
                        <option value="">Choose an Item!</option>
                       {% for item in requested_items %}
                       <option value='{{item.item_name}}'>{{item.item_name}}</option>
                       {% endfor %}
                   </select><br>
                  <button type="submit" class="btn btn-outline-success" name="recipe">Look at recipes!</button>
               </form>
               <br>
               <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                More details
              </button>
        
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">test</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      RAHHHHHHHHHHHHHHH
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
               {% if recipes %}
               {% for thing in recipes %}
                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{ loop.index }}" style="margin-top: 10px;">
            {{ thing["title"] }}
                </button>
              <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                     <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">{{ thing["title"] }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Serving Size: {{thing["servings"]}} <br><br>
                        Ingredients: <br>
                        {{thing.ingredients}} <br><br>
                        Instructions: <br>
                        {{thing.instructions}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>
</div>

{%endblock%}